@{
    ViewData["Title"] = "Home Page";
}

<h1 style="text-align: center">FlyAway</h1>
<div style="height: 40em; overflow: hidden">
    <img src="https://www.rd.com/wp-content/uploads/2020/01/GettyImages-1131335393-e1650030686687.jpg" style="width: 100%">
</div>
<h3 style="margin-top: 3%">
    Aplikacija za jednostavnije rezerviranje letova
</h3>
<div style="margin-top: 2%; color: darkgray; font-size: 1.5em">
    <b>
        Ova web-aplikacija namijenjena je za registrovanje i kupovinu karata kao i jednostavniji uvid i kontrolu nad sadržajima aerodroma
        <br>
        Sastoji se od korisničkih interfejsa koji omogućavaju vršenje operacija
        dodavanja, editovanja i brisanja.
        <br>
        Uživajte u korištenju aplikacije
    </b>
</div>
